{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
Trial days
{% endblock %}

{% block body %}

{% if scheduled %}
<table>
    <tr><th>Date</th><th>Slots</th><th>Students</th></tr>
{% for day in scheduled %}
    <tr>
        <td>{{day.date|date}}</td>
        <td>{{day.slots}}</td>
        <td>
            <ul>
                {% for student in day.students %}
                <li>
                    {{student.first_name}} {{student.last_name}}
                    · <a href="{{student.url}}">Reschedule</a>
                    · <a href="mailto:{{student.email}}">Email</a>
                    · <a href="/trial/{{student.id}}/edit">Edit</a>
                    · {{student.admission_state or 'Not enrolled'}}
                    · {{student.probability}}%
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if stats %}
<div class="card">
    <h2>Stats</h2>
    <table>
        {% for k,v in stats.items() %}
        <tr>
            <th>{{k | capitalize}}</th><th>{{v | round(1)}}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}


{% if day_form %}
<div class="card">
    <h2>Add/update availability</h2>
    {{ form_macro(day_form, "") }}
</div>
{% endif %}

<div class="card">
    <h2>Send a trial day invitation</h2>
    {{ form_macro(student_form, "") }}
</div>

{% endblock %}